

.grid-container {
    width:960px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}



.grid-cell {
    border: 1px solid pink;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    margin:0;
    background-color:purple;

}

.generate-button {
    color: yellow;
    background-color: black;
    padding: 1em;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    width: max-content;
}